* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-family: "Orbitron", sans-serif;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 0 0.5% 0;
}

div:hover h1 {
  animation: shake 1s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(25px);
  }

  50% {
    transform: translateX(-25px);
  }
  100% {
    transform: translateX(0px);
  }
}
